html {
	position: relative;
	height: 100%
}

body {
	position: relative;
	padding: 45px 0 35px 0;
	min-height: 100%;
}

h1 {
	margin: 10px 0;
}

h2 {
	margin: 10px 0;
}

#tpl-content {
	position: relative;
}

#tpl-footer {
	position:absolute;
	bottom: 0;
	width: 100%;
	margin:0;
	z-index: 2000;
}

.sidebar {
	margin: 10px 0 0 0;
	position: fixed;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar .nav li a {
	background: #efefef;
}


.nav .nav-header {
	margin: 15px 0 5px;
	font-size: 16px;
}

.footer {
	position: relative;
	padding:10px 0;
	background: #4E5D6C;
	text-align: center;
	color:#EBEBEB;
	font-size: 12px;
}

.form .has-error small.error {
	color: #FF4136;
	font-style: italic;
}

.form-delete {
	display:inline;
}

.panel.login {
	margin:40px 0 0 0;
}

.nowrap {
	white-space: nowrap;
}
